@use "common" as *;

article {
  width: 100%;
  border: 2px solid var(--border-color);
  padding: 1rem;
  border-radius: 0.5rem;
  header {
    button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      min-height: 40px;
      background-color: transparent;
      border: none;
      color: var(--text-color);
      cursor: pointer;
      .card-header {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        h3 {
          @include header-style;
          font-size: 1.2rem;
          margin: 0;
        }
        img {
          width: 25px;
          height: 25px;
        }
      }

      img {
        width: 30px;
        height: 30px;
        transition: transform 0.3s ease-in-out;
        transform-origin: center;
        transform: scaleY(1);
        &.rotate {
          transform: scaleY(-1);
        }
      }
    }
  }

  .card-header-border {
    height: 2px;
    max-width: 0px;
    background-color: var(--border-color);
    transition: max-width 0.4s ease-in-out;
    &.expanded {
      max-width: 100%;
    }
  }

  section {
    max-height: 0;
    transition: max-height 0.4s ease-in-out;
    overflow: hidden;
    &.expanded {
      max-height: 500px; // Adjust as needed
    }
    .card-content {
      padding: 2rem;
      display: grid;
      width: 80%;
      grid-template-columns: 5fr auto auto;
      align-items: end;
      gap: 0.5rem;

      .start-new-row {
        grid-column: 1;
      }

      .action-button {
        height: 40px;
        width: 40px;
        border: 2px solid var(--border-color);
        background-color: transparent;
        margin-bottom: 1rem; // to match with the bottom padding of the input wrapper
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        img {
          width: 20px;
          height: 20px;
        }

        &:hover {
          border-color: var(--btn-primary-border);
          img {
            transform: scale(1.05);
          }
        }
      }

      .action-buttons {
        display: flex;
        gap: 0.5rem;
        align-items: center;
      }
    }
  }
}
