<main>
  <h2>All Passwords</h2>
  <p>Where your secrets stay secret</p>

  <section class="search-box-container">
    <input-wrapper
      class="search-box"
      id="passwordSearch"
      placeholder="Search Passwords"
    />
    <button-wrapper
      buttonText="Add new Password"
      (btnClick)="showPasswordModal.set(true)"
    />
  </section>

  <section class="password-card-container">
    @for (pass of passwordArray(); track pass.uuid) {
    <password-card [cardData]="pass" />
    }
  </section>
</main>

@if (showPasswordModal()) {
<manage-password (onClose)="showPasswordModal.set(false)" />
}
