@use "common" as *;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2rem;
}

.container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 0.5rem;
  height: 100%;
  .side-bar {
    flex-grow: 1;
    background-color: var(--surface-color);
    border-radius: 0.5rem;
    overflow: auto;
    height: 100%;
    @include hide-scrollbar;
  }

  .content {
    flex-grow: 7;
    height: 100%;
    background-color: var(--surface-color);
    border-radius: 0.5rem;
    overflow: auto;
    @include hide-scrollbar;
  }
}

.notifier {
  position: fixed;
  bottom: 50px;
  min-width: 200px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--notifier-bg, #4caf50);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}
